:root {
    --primary-red: #E63946;
    --red2: #C1121F;
    --dark-blue: #1D3557;
    --light-bg: #F8F9FA;
    --yellow: #F4A261;
    --text-dark: #222;
    --primary-yellow: #F4B400; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

.intro {
    background-image: url(bilder/bakgrunn3.jpeg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

body {
    width: 100%;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav li {
    list-style: none;
}

.knapp {
    background-color: var(--red2);
    padding: 10px;
    border-radius: 5px;
    color: white;
}

h1 {
    font-size: 70px;
    margin-top: 80px;
}

.destinasjon {
    text-align: center;
    padding: 40px;
}

.griddestinasjon {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: 400px;
    gap: 40px;
    margin-top: 50px;
    justify-content: center;
    color: white;
}

.barcelona {
    background-image: url(bilder/indexbarcelona1.jpg);
    background-size: cover;
    border-radius: 20px;
    text-align: left;
    padding: 20px;
    padding-top: 280px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.madrid {
    background-image: url(bilder/indexmadrid.jpeg);
    background-size: cover;
    border-radius: 20px;
    text-align: left;
    padding: 20px;
    padding-top: 280px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.sevilla {
    background-image: url(bilder/indexsevilla.jpg);
    background-size: cover;
    border-radius: 20px;
    text-align: left;
    padding: 20px;
    padding-top: 280px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.tekst {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.griddestinasjon button {
    width: 150px;
    background: #F4B400;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
}