@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-red: #e32938;
    --red2: #C1121F;
    --dark-blue: #1D3557;
    --light-bg: #F8F9FA;
    --yellow: #F4A261;
    --text-dark: #222;
    --primary-yellow: #F4B400;
    --bakgrunn-light: #FAF7F2;
}

:root {
    --primary-blue: #0B2A47;
    --secondary-blue: #123E63;
    --accent-red: #E85D4A;
    --background-light: #F5F1EC;
    --text-dark: #1E1E1E;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--bakgrunn-light);
    font-family: "Inter", sans-serif;
    color: var(--text-dark);
}

h1, h2, h3, h4{
    font-family: "Poppins", sans-serif;
    line-height: 1.1;
}

h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
    margin-bottom: 10px;
}

.intro {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0)), url(bilder/bakgrunn3.jpeg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px;
}

.logo {
    display: flex;
    gap: 10px;
}

.logo i {
    font-size: 30px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav li {
    list-style: none;
}

.knapp {
    background-color: var(--red2);
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.intro h1 {
    font-size: 100px;
    margin-top: 300px;
    max-width: 800px;
}

.intro h4 {
    margin-top: 20px;
    max-width: 450px;
    font-weight: 500;
}

.intro span {
    color: var(--red2);
}

.destinasjon {
    text-align: center;
    padding: 120px 100px;
}

.griddestinasjon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 400px;
    gap: 40px;
    margin-top: 50px;
    justify-content: center;
    color: white;
}

.by {
    background-size: cover;
    border-radius: 20px;
    text-align: left;
    padding: 20px;
    padding-top: 280px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    filter: brightness(1);
    transition: 0.3s ease;
    cursor: pointer;
}

.by.selected{
    filter: brightness(0.85);
    border: 3px solid var(--red2);
}

.barcelona {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url(bilder/indexbarcelona1.jpg);
}

.madrid {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url(bilder/indexmadrid.jpeg);
}

.sevilla {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url(bilder/indexsevilla.jpg);
}

.tekst {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.griddestinasjon button {
    width: 150px;
    background: #F4B400;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
}

.aktivitet {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.maxbredde {
    max-width: 1100px;
}

.grid {
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1;
    gap: 20px;
    justify-content: center;
}

.hidden {
    display: none;
}

.card {
    border-radius: 10px;
    display: grid;
    grid-template-rows: 3fr 1fr;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    border: 2px solid transparent;
    cursor: pointer;
    position: relative;
}

.card img {
    height: 180px;
    object-fit: cover;
}

.card.selected {
    border: 2px solid var(--red2);
}

.aktivitet button {
    width: 150px;
    background: #F4B400;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
    margin: 20px;
}

.check {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.check i {
    color: white;
}

.card.selected .check {
    background: var(--primary-red);
}

.mat {
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.matcontainer {
    margin: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
    overflow-x: hidden;
    scroll-behavior: smooth;
    cursor: pointer;
}

.matcard {
    border-radius: 10px;
    display: grid;
    min-width: 240px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    text-align: left;
    position: relative;
    border: 2px solid transparent;
    margin-bottom: 30px;
}

.matcard img {
    height: 130px;
    object-fit: cover;
}

.matcard.selected {
    border: 2px solid var(--red2);
}

.matcard.selected .check {
    background: var(--primary-red);
}

.matinfo {
    margin: 10px;
}

.dinreise {
    margin-top: 50px;
    text-align: center;
    padding: 50px 300px;
}

.dinreise .knapp {
    max-width: 150px;
    margin-top: 10px;
}

.dinplan {
    background-color: white;
    padding: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: left;
}

.card:hover,
.matcard:hover,
.by:hover{
    transform: scale(1.03);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    transition: 0.3s ease;
}

button,
.knapp{
    transition: 0.3s ease;
    cursor: pointer;
}

button:hover,
.knapp:hover{
    transform: scale(1.05);
    opacity: 0.9;
}

footer {
    background-color: var(--primary-blue);
    color: white;
    margin-top: 100px;
    padding: 30px 100px;
    justify-content: center;
}

.footerinnhold{
    display: flex;
    justify-content: space-between;
}

.footerlinker {
    display: flex;
    gap: 50px;
}

.ikoner{
    display: flex;
    gap: 15px;
}

.ikoner i{
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s ease;
}