@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --red2: #C1121F;
    --text-dark: #222;
    --primary-yellow: #F4B400;
    --bakgrunn-light: #FAF7F2;
    --marine-blue: #071B34;
    --accent-red: #E85D4A;
    --myk-green: #6BBF59;
    --varm-gul: #F4B400;
    --dyp-oransje: #D97706;
    --is-blue: #60A5FA;
    --lysere-tekst: #7C8594;
    --madrid-primary: #5B1620;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--bakgrunn-light);
    font-family: "Inter", sans-serif;
    color: var(--text-dark);
}

h1,
h2,
h3,
h4 {
    font-family: "Poppins", sans-serif;
    line-height: 1.1;
}

h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
}

.intro a,
footer a {
    text-decoration: none;
    color: white;
}

.intro {
    background-image: linear-gradient(to right, #5B1620, rgba(0, 0, 0, 0)), url(bilder/barcelona/barcelonahero.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 100px;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo i {
    font-size: 25px;
    color: var(--red2);
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav li {
    list-style: none;
    cursor: pointer;
    transition: 0.2s ease;
}

nav li:hover {
    color: var(--accent-red);
}

.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

.knapp {
    background-color: var(--red2);
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s ease;
    cursor: pointer;
}

.knapp:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.intro h1 {
    font-size: 100px;
    margin-top: 300px;
    max-width: 800px;
}

.introinfo h3,
.introinfo p {
    margin-top: 20px;
    max-width: 450px;
    font-weight: 500;
}

.introinfo {
    padding: 40px 100px;
}

.om {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 90px 100px;
}

.ikongrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 10px;
    margin-top: 30px;
}

.ikongrid i,
.ikongrid h5,
.ikongrid p {
    margin-top: 10px;
}

.om img {
    border-radius: 18px;
}

.om i {
    font-size: 40px;
    color: var(--accent-red);
}

.severdigheter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 90px 100px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.hidden {
    display: none;
}

.card {
    border-radius: 18px;
    overflow: hidden;
    text-align: left;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.card img {
    height: 180px;
    object-fit: cover;
}

.cardtekst {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
}

.reise {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 90px 100px;
    gap: 40px;
}

.opplevelser {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.opplevelsercontainer {
    display: flex;
    align-items: center;
    gap: 30px;
}

.reise p {
    margin-top: 4px;
}


.reise i {
    font-size: 40px;
    color: var(--accent-red);
}

.bestetid {
    background-color: var(--madrid-primary);
    color: white;
    padding: 30px;
    border-radius: 18px;
}

.visitgrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
}

.visitgrid i {
    margin-top: 20px;
    margin-bottom: 20px;
}

.borderright {
    border-right: 0.5px solid var(--lysere-tekst);
    padding: 10px;
}

.littpadding {
    padding: 20px;
}

.midtstilt {
    text-align: center;
}

.midtstilt p {
    color: var(--lysere-tekst);
    font-size: 13px;
}

.midtstilt .fa-seedling {
    color: var(--myk-green);
}

.midtstilt .fa-sun {
    color: var(--varm-gul);
}

.midtstilt .fa-leaf {
    color: var(--dyp-oransje);
}

.midtstilt .fa-snowflake {
    color: var(--is-blue);
}

.galleri {
    padding: 90px 100px;
}

.gallericontainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.gallericard {
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.gallericard img {
    height: 220px;
    object-fit: cover;
}

footer {
    background-color: var(--madrid-primary);
    color: white;
    margin-top: 100px;
    padding: 30px 100px;
    justify-content: center;
}

.footerinnhold {
    display: flex;
    justify-content: space-between;
}

.footerlogo i {
    color: var(--red2);
    font-size: 25px;
}

.footerlinker {
    display: flex;
    gap: 50px;
    cursor: pointer;
    transition: 0.2s ease;
}

.ikoner {
    display: flex;
    gap: 15px;
}

.ikoner i {
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s ease;
}

.footerlinker p:hover {
    color: var(--accent-red);
}

@media (width < 900px) {

    .om {
        grid-template-columns: 1fr;
    }

    .reise {
        grid-template-columns: 1fr;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallericontainer {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (width < 700px) {

    header {
        padding: 40px;
    }

    .menu-toggle {
        display: block;
        color: white;
    }

    nav {
        display: none;
    }

    nav.active {
        display: block;
    }

    nav ul {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: var(--madrid-primary);
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 40px;
    }

    .intro h1 {
        font-size: 80px;
        max-width: 500px;
    }

    .introinfo {
        padding: 40px;
    }

    .om {
        padding: 40px;
    }

    .severdigheter {
        padding: 40px;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .card {
        display: flex;
    }

    .card p {
        font-size: 13px;
    }

    .card img {
        width: 40%;
    }

    .reise {
        grid-template-columns: 1fr;
        padding: 40px;
    }

    .visitgrid {
        grid-template-columns: repeat(2, 1fr);
    }

    .borderright {
        border-right: 0;
    }

    .galleri {
        padding: 40px;
    }

    .gallericontainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .footerlinker {
        display: none;
    }

    .footerikoner {
        display: none;
    }

    .footerinnhold {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
}